# Python
venv/
__pycache__/
*.pyc

# Environment files
.env

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
*.log

# ML
ml/model/
ml/data/
ml/cc.en.300.bin
ml/cc.en.300.bin.gz
